* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #ffe6f7, #f7d9f5);
  color: #2a043d;
  line-height: 1.6;
  padding: 10px;
  font-size: 16px;
}

main {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      flex-direction: column;
}

h1,h2,h3 {
  color: #a00684;
  line-height: 1.2;
  margin-bottom: 5em;
}

p {
  margin-bottom: 1em;
  color: #2a043d;
  font-size: 1rem;
}

article{
  background-color:white;
  border:1px solid #ddd;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  flex: 2;
}

aside {
  flex: 1;
}

.grid-conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.grid-conteiner .item {
  background-color: #a00684;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(red, green, blue, alpha);
  text-align: center;
}

@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr) ;
    }
    main {
      flex-direction: column;
    }
}
@media (min-width: 768px) {
  main {
      flex-direction: row;
  }
}
@media (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
  body {
    font-size: 18px;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}